div.row
    div.col-md-3
        div
            form.form-inline(role="form")
                | Group By:&nbsp;
                label.radio-inline
                    input(type="radio",ng-model="groupAccountBy",value="account")
                    | &nbsp;Account
                label.radio-inline
                    input(type="radio",ng-model="groupAccountBy",value="machine")
                    | &nbsp;Machine
        d3-tree#account-tree(val="sharedProperties.accountTree")
    div.col-md-9

        div.animate-switch-container(ng-switch="",on="sharedProperties.uiSelection")

            div.animate-switch(ng-switch-when="org")
                h3 Organization {{sharedProperties.orgId}}

            div.animate-switch(ng-switch-when="machine")
                div(ng-controller="MachineController")
                    h3 Machine {{sharedProperties.machine._id}} ({{sharedProperties.machine.hostname}})

                    ul.nav.nav-tabs
                        li: a(href="#tab-machine-metrics-mem", data-toggle="tab") Memory
                        li: a(href="#tab-machine-metrics", data-toggle="tab") Metrics
                        li: a(href="#tab-machine-logs", data-toggle="tab") Logs
                        li: a(href="#tab-machine-preferences", data-toggle="tab") Preferences
                    div.tab-content
                        div#tab-machine-metrics-mem.tab-pane.fade.in.active
                            div.row
                                div.col-md-6
                                    //d3-metric(id="mem-total-{{sharedProperties.machine._id}}",machine="sharedProperties.machine", metric-name="mem:total", type="multiBarChart")
                                    //    svg

                                    d3-metric(machine="sharedProperties.machine", metric-name="mem:free", type="line")
                                        svg
                                    d3-metric(id="test", machine="sharedProperties.machine", metric-name="mem:free", limit="1", type="pie", max="true")
                                        svg
                                div.col-md-6
                                    d3-metric(machine="sharedProperties.machine", metric-name="mem:total", type="line")
                                        svg
                                    d3-metric(id="test", machine="sharedProperties.machine", metric-name="mem:total", limit="1", type="pie", max="true")
                                        svg
                        // Example to show a more dynamic data driven layout
                        div#tab-machine-metrics.tab-pane.fade.in.active
                            //div.row
                                div.col-md-6
                                    div.metric-container(ng-repeat="m in sharedProperties.defaultDashboardMetrics")
                                        d3-metric(id="{{m.group}}-{{m.name}}-{{sharedProperties.machine._id}}", machine="sharedProperties.machine", metric="m", type="m.type")
                                            svg
                                div.col-md-6
                                    | TBD
                        div#tab-machine-logs.tab-pane.active.fade
                            | TBD
                        div#tab-machine-preferences.tab-pane.active.fade
                            | TBD

            div.animate-switch(ng-switch-default)
                h3 Account {{sharedProperties.accountId}}

        // TODO show an account dashboard when an account is selected only in the URL
        // That should show all machines and a few selected metrics for each machine
        // For m in machines
        div(ng-repeat="machine in denormMachines")
            div(ng-repeat="metric in dashboardMetrics")
                d3Visualization(machine="machine", metric="metric", type="multiBar", legend="false")

        div(ng-if="selectedMachine")
            h3 Machine {{machine.uuid}}
            tabset
                tab(heading="Dashboard")
                    h3 Dashboard
                tab(heading="Logs")
                    h3 TBD
                tab(heading="Metrics")
                    | Metrics List
