!!! transitional

html(lang="en").chrometwo
    head
        script(type="text/javascript")
            window.pstart = new Date().getTime();
            console.log("Start: " + window.pstart);
        title Red Hat
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css",rel="stylesheet")
        link(href="resources/css/app.css",rel="stylesheet")
        // The overrides needs to come after the application css
        // Need in chrome2.css, look at source of http://handsbox-portal.usersys.redhat.com/pass/chrome_test/
        // <link href="/webassets/avalon/chrome_themes/umbra/s/chrometwo.css" rel="stylesheet" />
        script(data-main="/webassets/avalon/j/chrometwo",src="/webassets/avalon/j/lib/require.js")
        link(href="/webassets/avalon/s/bootstrap3.overrides.css", rel="stylesheet")

    //(ng-cloak="")
    body.chrometwo
        script(type="text/javascript")
            breadcrumbs = [
                ["Knowledge", "/site/"],
                ["Product Documentation","/site/documentation/"],
                ["Customer Portal Presentation Guidelines"]
            ];

        div#chrometwo
            div#main
                // Content area is required as per instruction from Marc Caron, otherwise box styling not honored
                // That is no fluid row/cols will work
                div.content-area
                    //a(href="#/admin") Admin
                    //| /&nbsp;
                    //a(href="#/view1") View 1
                    //.reveal-animation
                    div(ng-view="")


        script(type="text/javascript")
            chrometwo_require([], function(){

                require.config({
                    baseUrl: 'resources/js',
                    paths: {
                        jquery: 'bower_components/jquery/jquery',
                        angular: 'bower_components/angular/angular',
                        'angular-route': 'bower_components/angular-route/angular-route',
                        'angular-animate': 'bower_components/angular-animate/angular-animate',
                        'angular-resource': 'bower_components/angular-resource/angular-resource',
                        'angular-cookies': 'bower_components/angular-cookies/angular-cookies',
                        'ui-bootstrap': 'bower_components/angular-bootstrap/ui-bootstrap-tpls',
                        text: 'bower_components/require/text',
                        bootstrap: 'bower_components/bootstrap/dist/js/bootstrap',
                        underscore: 'bower_components/lodash/dist/lodash',
                        moment: 'bower_components/momentjs/moment',
                        d3: 'bower_components/d3/d3',
                        toastr: 'bower_components/toastr/toastr',
                        nv: 'bower_components/nvd3/nv.d3',
                        d3Logic: 'lib/utils/d3Logic',
                        utils: 'lib/utils/utils'
                    },
                    shim: {
                        angular : {'exports' : 'angular'},
                        angularMocks: {deps:['angular'], 'exports':'angular.mock'},
                        'angular-route': ['angular'],
                        'angular-animate': ['angular'],
                        'angular-resource': ['angular'],
                        'angular-cookies': ['angular'],
                        'ui-bootstrap': ['angular'],
                        bootstrap: ['jquery'],
                        toastr: ['jquery'],
                        nv: { deps:['d3'], exports: 'nv'},
                    },
                    priority: [
                        "angular"
                    ],
                    // http://stackoverflow.com/questions/8315088/prevent-requirejs-from-caching-required-scripts
                    urlArgs: "bust=" + (new Date()).getTime()
                });


                require([
                    'angular',
                    'app',
                    'routes',
                    'bootstrap'
                ], function(angular, app, routes) {
                    'use strict';
                    angular.bootstrap(document, [app['name']]);
                });
            });
