doctype html

html(lang="en").chrometwo
    head
        title Embedded Vulnerability Detection
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css",rel="stylesheet")
        // The overrides needs to come after the application css
        // Need in chrome2.css, look at source of http://handsbox-portal.usersys.redhat.com/pass/chrome_test/
        script(data-main="/webassets/avalon/j/chrometwo",src="/webassets/avalon/j/lib/require.js")
        link(href="/webassets/avalon/s/bootstrap3.overrides.css", rel="stylesheet")
    body.chrometwo
        div#chrometwo
            div#main
                // Content area is required as per instruction from Marc Caron, otherwise box styling not honored
                div.content-area
                    div.row
                        div.col-lg-6
                            h4 Embedded Vulnerability Detection
                            hr
                            div.spacer.clearfix
                            form#upload-form(role="form", enctype="multipart/form-data")
                                div.form-group
                                    label(for="upload")
                                        | Please select JAR, POM, or Java Class file(s) for analysis&nbsp;
                                    input#upload(type="file", multiple="multiple")
                                button#form-submit.btn.btn-default(type="submit").
                                            Submit
                            progress(hidden)
                            div#success-msg.alert.alert-success(hidden)
                                | Upload complete. Analyzing file(s) for vulnerabilities.

                        div.col-lg-6
                            h4 Vulnerabilities Found
                            hr
                            div.spacer.clearfix
                            img#spinner(src="/webassets/avalon/g/chrome/throbber_dickie_large.gif", hidden)
                            div#fail-msg.alert.alert-danger(hidden)
                                    | Failed to analyze file.
                            div#results


        script(type="text/javascript").
            breadcrumbs = [['Labs', '/labs/'], ['Embedded Vulnerability Detector', '/labs/victims/']];
            chrometwo_require([], function() {

                $("head").prepend("<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"/webassets/avalon/s/bootstrap3.min.css\" />");

                function progressHandlingFunction(e){
                    if(e.lengthComputable){
                        $('progress').attr({value:e.loaded,max:e.total});
                        if (e.loaded === e.total) {
                            $("#success-msg").show();
                            $("#spinner").show();
                        }
                    }
                }

                $("input").change(function() {
                    for(var i=0; i < this.files.length; i++){
                        var name = this.files[i].name;
                        var ext = name.split('.').pop();
                        if (ext !== "class" && ext !== "jar" && ext !== "xml") {
                            alert("Invalid file extension");
                            return false;
                        }
                    }
                });
                $('#form-submit').on('click', function (evt) {
                    evt.preventDefault();
                    var filename = $("#upload").val();
                    if (filename === "") {
                        alert("Please select a file to upload");
                        return false;
                    }
                    var lastIndex = filename.lastIndexOf("\\");
                    if (lastIndex >= 0) {
                        filename = filename.substring(lastIndex + 1);
                    }
                    var ext = filename.split('.').pop();
                    if (ext !== "class" && ext !== "jar" && ext !== "xml") {
                        alert("Invalid file extension");
                        return false;
                    }
                    $("#upload").prop("name", filename);
                    $("progress").show();
                    var uploadForm = $("#upload")[0];
                    var formData = new FormData();
                    for (var i = 0; i < uploadForm.files.length; i++) {
                        formData.append(uploadForm.files[i].name, uploadForm.files[i]);
                    }
                    $.ajax({
                        url: 'api/check',
                        type: 'POST',
                        headers: {
                            Accept: "application/json"
                        },
                        success: function(response) {
                            var item = "<ul>"
                            response.forEach(function(entry) {
                                item = item + "<li>"
                                var filename = entry.file;
                                item = item + filename + ": "
                                if (entry.vulnerabilities.length > 0) {
                                    entry.vulnerabilities.forEach(function(ventry) {
                                        item = item + "<a href='https://access.redhat.com/security/cve/" + ventry + "'>" + ventry + " </a>"
                                    });
                                    item = item + "</li>"
                                }
                                else {
                                    item = item + "No vulnerabilities detected</li>"
                                }
                            });
                            $("#spinner").hide();
                            $("#results").html(item);
                            $("#success-msg").hide();
                        },
                        error: function (response) {
                            $('#fail-msg').show();
                            $('#spinner').hide();
                        },
                        data: formData,
                        cache: false,
                        contentType: false,
                        xhr: function() {  // Custom XMLHttpRequest
                            var myXhr = $.ajaxSettings.xhr();
                            if(myXhr.upload){
                                myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
                            }
                            return myXhr;
                        },
                        processData: false
                    });
                });
            });