doctype html

html(lang="en").chrometwo
    head
        title Embedded Vulnerability Detection
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css",rel="stylesheet")
        // The overrides needs to come after the application css
        // Need in chrome2.css, look at source of http://handsbox-portal.usersys.redhat.com/pass/chrome_test/
        script(data-main="/webassets/avalon/j/chrometwo",src="/webassets/avalon/j/lib/require.js")
        link(href="/webassets/avalon/s/bootstrap3.overrides.css", rel="stylesheet")
        link(href="/labs/jevd/victims.css", rel="stylesheet")
    body.chrometwo
        div#chrometwo
            div#main
                h1 Embedded Vulnerability Detection
                // Content area is required as per instruction from Marc Caron, otherwise box styling not honored
                div.content-area
                    div.row
                        div.col-md-12
                            div.spacer.clearfix
                            p
                                | The Embedded Vulnerability Detection application provides the functionality to scan Java
                                | projects and dependencies against a database of publicly known vulnerabilities.
                                | This database is maintained by Red Hat security teams.  Upload your source code, POM,
                                | or jar files to get started!
                    div.row.app-ui
                        div.col-md-6
                            h2.bordered 1. Upload
                            form.form#upload-form(role="form", enctype="multipart/form-data")
                                div.form-group
                                    label(for="upload")
                                        | Please select JAR, POM, or Java Class file(s) for analysis
                                    input#upload(type="file", multiple="multiple")
                                div.form-group
                                    button#form-submit.btn.btn-primary(type="submit").
                                            Submit
                            div.p.help-block
                                | Uploaded data is immediately deleted after analysis

                        div.col-md-6
                            h2.bordered 2. Vulnerability Information
                            div.alert.alert-warning#no-results
                                | No results. Please select a file to view vulnerability information
                            div#spinner(hidden)
                                div.alert.alert-info
                                    //span.icon.icon-info-circle(aria-hidden='true')
                                    img(src="/webassets/avalon/g/chrome/throbber_dickie.gif")
                                    | &nbsp;&nbsp;Uploading and analyzing file(s) for vulnerabilities.  Please wait.
                            div#fail-msg.alert.alert-danger(hidden)
                                span.icon.icon-warning(aria-hidden='true')
                                    | Failed to analyze file.
                            div#results


        script(type="text/javascript").
            breadcrumbs = [['Labs', '/labs/'], ['Embedded Vulnerability Detector', '/labs/victims/']];
            chrometwo_require(["analytics/main"], function(analytics) {

                $("head").prepend("<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"/webassets/avalon/s/bootstrap3.min.css\" />");

                var tagBody = '(?:[^"\'>]|"[^"]*"|\'[^\']*\')*';

                var tagOrComment = new RegExp(
                    '<(?:'
                    // Comment body.
                    + '!--(?:(?:-*[^->])*--+|-?)'
                    // Special "raw text" elements whose content should be elided.
                    + '|script\\b' + tagBody + '>[\\s\\S]*?</script\\s*'
                    + '|style\\b' + tagBody + '>[\\s\\S]*?</style\\s*'
                    // Regular name
                    + '|/?[a-z]'
                    + tagBody
                    + ')>',
                    'gi');

                function removeTags(html) {
                  var oldHtml;
                  do {
                    oldHtml = html;
                    html = html.replace(tagOrComment, '');
                  } while (html !== oldHtml);
                  return html.replace(/</g, '&lt;');
                }

                $("input").change(function() {
                    for(var i=0; i < this.files.length; i++){
                        var name = this.files[i].name;
                        var ext = name.split('.').pop();
                        if (ext !== "class" && ext !== "jar" && ext !== "xml" && ext !== "ear" && ext !== "war") {
                            alert("Invalid file extension");
                            return false;
                        }
                    }
                });
                $('#form-submit').on('click', function (evt) {
                    evt.preventDefault();
                    analytics.trigger("LabsCompletion");
                    $("#no-results").hide();
                    $("#vuln-list").remove();

                    var filename = $("#upload").val();
                    if (filename === "") {
                        alert("Please select a file to upload");
                        return false;
                    }
                    var lastIndex = filename.lastIndexOf("\\");
                    if (lastIndex >= 0) {
                        filename = filename.substring(lastIndex + 1);
                    }
                    var ext = filename.split('.').pop();
                    if (ext !== "class" && ext !== "jar" && ext !== "xml" && ext !== "ear" && ext !== "war") {
                        alert("Invalid file extension");
                        return false;
                    }
                    $("#upload").prop("name", filename);
                    var uploadForm = $("#upload")[0];
                    var formData = new FormData();
                    for (var i = 0; i < uploadForm.files.length; i++) {
                        formData.append(uploadForm.files[i].name, uploadForm.files[i]);
                    }
                    $("#spinner").show();
                    $.ajax({
                        url: 'api/check',
                        type: 'POST',
                        headers: {
                            Accept: "application/json"
                        },
                        success: function(response) {
                            var item = "<ul id='vuln-list' class='list-group'>";
                            response.forEach(function(entry) {
                                var filename = removeTags(entry.file);
                                if (entry.vulnerabilities.length > 0) {
                                    item = item + "<li class='list-group-item list-group-item-danger'>";
                                    item = item + "<span class=\"icon-warning\" aria-hidden=\"true\"></span> " + filename + ": ";
                                    entry.vulnerabilities.forEach(function(ventry) {
                                        item = item + "<a href='https://access.redhat.com/security/cve/" + ventry + "'>" + ventry + " </a>"
                                    });
                                    item = item + "</li>"
                                }
                                else {
                                    item =  item + "<li class='list-group-item list-group-item-success'><span class='icon-ok' aria-hidden='true'></span> " + filename + ": No vulnerabilities detected</li>"
                                }
                            });
                            $("#spinner").hide();
                            $("#results").html(item);
                            $("#success-msg").hide();
                        },
                        error: function (response) {
                            $('#fail-msg').show();
                            $('#spinner').hide();
                        },
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                });
            });