//h1 Admin interface to RH PhD
tabset
    tab(heading="Main")
        h3 Create test Machines + Metrics
        form.form-inline(role="form")
            div.form-group
                label.sr-only(for="accountIdInput") Account Id
                input#accountIdInput.form-control(type="text",placeholder="Enter an Account Id",ng-model="accountId")
            button.btn.btn-success(type="button", ng-click="createTestData(accountId)")
                i.fa.fa-save &nbsp; Create Data
        hr
        form.form-inline(role="form")
            div.form-group
                label.sr-only(for="accountIdInput") Account Id
                input#accountIdInput.form-control(type="text",placeholder="Enter an Account Id",ng-model="accountId")
            button.btn.btn-success(type="button", ng-click="deleteTestData(accountId)")
                i.fa.fa-save &nbsp; Delete Data
    tab(heading="Accounts")
        div.row
            div.col-md-4
                br: br
                form.form-inline(role="form")
                    div.form-group
                        label.sr-only(for="accountIdInput") Account Id
                        input#accountIdInput.form-control(type="text",placeholder="Enter an Account Id",ng-model="accountId")
                    button.btn.btn-success(type="button", ng-click="saveAccount(accountId)")
                        i.fa.fa-save &nbsp; Save
                hr
            div.col-md-8
                h4 Accounts&nbsp;
                    i.fa.fa-refresh.pointer(ng-click="refreshAccounts()")
                table.table.table-striped
                    thead
                        tr
                            th Id
                            th Machines
                            th Last Login
                            th Actions
                    tbody(ng-repeat="a in accounts")
                        tr
                            td {{a.accountId}}
                            td {{a.machineCount}}
                            td
                            td
                                a.btn.btn-danger(ng-click="deleteAccount(a.accountId)")
                                    i.fa.fa-trash-o &nbsp;Delete
    tab(heading="Machines")
        div.row
            div.col-md-4
                br: br
                form.form-horizontal(role="form")
                    div.form-group
                        label.col-sm-2.control-label(for="machineAccountIdInput") Account
                        div.col-sm-10
                            input#machineAccountIdInput.form-control(type="text",placeholder="Enter the Account Id",ng-model="accountId")
                    div.form-group
                        label.col-sm-2.control-label(for="machineUuidInput") Machine
                        div.col-sm-10
                            input#machineUuidInput.form-control(type="text",placeholder="Enter an Machine UUID",ng-model="uuid")
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-success(type="button", ng-click="saveMachine(accountId, uuid)")
                                i.fa.fa-save &nbsp; Save
                hr
            div.col-md-8
                h4 Machines&nbsp;
                    i.fa.fa-refresh.pointer(ng-click="refreshMachines(accountId)")

                div(ng-if="accountMachines.accountId != undefined")
                    hr
                    h4 Account {{ accountMachines.accountId }}
                    table.table.table-striped
                        thead
                            tr
                                th UUID
                                th Last Login
                                th Actions
                        tbody(ng-repeat="m in accountMachines.machines")
                            tr
                                td {{m.uuid}}
                                td
                                td
                                    a.btn.btn-danger(ng-click="deleteMachine(accountMachines.accountId, m.uuid)")
                                        i.fa.fa-trash-o &nbsp;Delete
    tab(heading="Metrics")
        | Metrics List
