
<!--h1 Admin interface to RH PhD-->
<tabset>
  <tab heading="Main">
    <h3>Create test Machines + Metrics</h3>
    <form role="form" class="form-inline">
      <div class="form-group">
        <label for="accountIdInput" class="sr-only">Account Id</label>
        <input id="accountIdInput" type="text" placeholder="Enter an Account Id" ng-model="accountId" class="form-control"/>
      </div>
      <button type="button" ng-click="createTestData(accountId)" class="btn btn-success"><i class="fa fa-save">&nbsp; Create Data</i></button>
    </form>
    <hr/>
    <form role="form" class="form-inline">
      <div class="form-group">
        <label for="accountIdInput" class="sr-only">Account Id</label>
        <input id="accountIdInput" type="text" placeholder="Enter an Account Id" ng-model="accountId" class="form-control"/>
      </div>
      <button type="button" ng-click="deleteTestData(accountId)" class="btn btn-success"><i class="fa fa-save">&nbsp; Delete Data</i></button>
    </form>
  </tab>
  <tab heading="Accounts">
    <div class="row">
      <div class="col-md-4"><br/>
        <form role="form" class="form-inline">
          <div class="form-group">
            <label for="accountIdInput" class="sr-only">Account Id</label>
            <input id="accountIdInput" type="text" placeholder="Enter an Account Id" ng-model="accountId" class="form-control"/>
          </div>
          <button type="button" ng-click="saveAccount(accountId)" class="btn btn-success"><i class="fa fa-save">&nbsp; Save</i></button>
        </form>
        <hr/>
      </div>
      <div class="col-md-8">
        <h4>Accounts&nbsp;<i ng-click="refreshAccounts()" class="fa fa-refresh pointer"></i></h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Machines</th>
              <th>Last Login</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody ng-repeat="a in accounts">
            <tr>
              <td>{{a.accountId}}</td>
              <td>{{a.machineCount}}</td>
              <td></td>
              <td><a ng-click="deleteAccount(a.accountId)" class="btn btn-danger"><i class="fa fa-trash-o">&nbsp;Delete</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </tab>
  <tab heading="Machines">
    <div class="row">
      <div class="col-md-4"><br/>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="machineAccountIdInput" class="col-sm-2 control-label">Account</label>
            <div class="col-sm-10">
              <input id="machineAccountIdInput" type="text" placeholder="Enter the Account Id" ng-model="accountId" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="machineUuidInput" class="col-sm-2 control-label">Machine</label>
            <div class="col-sm-10">
              <input id="machineUuidInput" type="text" placeholder="Enter an Machine UUID" ng-model="uuid" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" ng-click="saveMachine(accountId, uuid)" class="btn btn-success"><i class="fa fa-save">&nbsp; Save</i></button>
            </div>
          </div>
        </form>
        <hr/>
      </div>
      <div class="col-md-8">
        <h4>Machines&nbsp;<i ng-click="refreshMachines(accountId)" class="fa fa-refresh pointer"></i></h4>
        <div ng-if="accountMachines.accountId != undefined">
          <hr/>
          <h4>Account {{ accountMachines.accountId }}</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>UUID</th>
                <th>Last Login</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ng-repeat="m in accountMachines.machines">
              <tr>
                <td>{{m.uuid}}</td>
                <td></td>
                <td><a ng-click="deleteMachine(accountMachines.accountId, m.uuid)" class="btn btn-danger"><i class="fa fa-trash-o">&nbsp;Delete</i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Metrics">Metrics List</tab>
</tabset>